footer {
	background-color: #f1f1f0;
	width: 95%;
	height: 15rem;
	text-align: center;
	margin: auto;
	position: relative;
	border-radius: 1.5625rem;
	/* 加阴影部份 */
	box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, .05);
	-webkit-box-shadow: #353535 2px 2px 10px;
	-moz-box-shadow: #ffffff 0px 0px 10px;
	margin-bottom: 1rem;
	margin-top: 10px;
}

#copyright {
	background-color: #ffffff;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 1.5625rem;
	width: 99%;
	height: 96%;
	text-align: left;
}

#img-logo {
	float: left;
}


.blank {
	padding-top: 50px;
}

.row2 {
	position: absolute;
	text-align: left;
	top: 15%;
	left: 5%;
	right: 0;
	bottom: 0;
}

.part_content {
	width: 80%;
	background-color: #e7e7e7;
	border-radius: 25px;
	text-align: center;
	margin: auto;
}

.part_content p {
	text-align: left;
}
.part_content span{
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
}


.main_page {
	/* background-image: url(../../static/picture/main.png);
	background-size: 100vm;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -999999999;
	top: 29px; */
}

.index_content {
	margin: auto;
	text-align: center;
	width: 90%;
	height: auto;
	margin-top: 50%;
	background-color: rgb(240 249 255);
	margin: 560px auto 0px auto;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 1px rgb(255 255 255) solid;
	box-shadow: 5px 5px 10px grey;
	border-radius: 50px;
}

.index_content p {
	text-align: left;
	padding-top: 25px;
	padding-top: 25px;
	margin-left: 16%;
	margin-right: 16%;
	width: 68%;
	height: 75%;
}

.index_content h3 {
	text-align: left;
	padding-top: 25px;
	padding-top: 25px;
	margin-left: 16%;
	margin-right: 16%;
	width: 68%;
	height: 75%;
}

#getthecoin {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 1vw;
	margin-top: 100px;
	background: transparent;
}

.chevon_container {
	position: relative;
	width: 24px;
	height: 24px;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #5f84a8;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}


.text {
	display: block;
	margin-top: 75px;
	margin-left: -30px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #5f84a8;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
}

